.App {
  background: #f9f9f9;
}

.App-Wrapper {
  max-width: 375px;
  margin: 0 auto;
  background: #fff;
  min-height: 700px;
}

.totalJobs{
  font-size: 14px;
  font-weight: 700;
  color: #464646;
  padding: 20px 0;
  border-bottom: 1px solid #BCBCBC;
}
